$base-color: #282828;

body {
  * {
    color: rgba(255, 255, 255, 0.87) !important;
  }
}
.max-width {
  max-width: 935px;
  width: 100%;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.navbar-fixed {
  position: fixed;
  height: 3rem;
  z-index: 9999;
  background-color: $base-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0.281),
    0 1px 5px 0 rgba(0, 0, 0, 0.034);

  a {
    display: flex;
    .material-icons {
      line-height: 3rem;
      height: 3rem;
    }
    h1 {
      font-size: 2rem;
      margin: 0.5rem;
    }
  }
}

.modal {
  background: none;
  margin-top: 150px;
  max-width: 400px;
}

main {
  background-color: $base-color;

  .max-width {
    position: relative;

    .sidenav {
      height: 100vh;
      background: $base-color;
      padding-top: 75px;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.14), 0 3px 0 0 rgba(0, 0, 0, 0.12),
        0 1px 0 0 rgba(0, 0, 0, 0.2);

      &.sidenav-fixed {
        position: absolute;
      }

      i {
        margin-right: 1rem;
        &.right {
          margin: 0;
        }
      }

      #projects-list {
        text-transform: capitalize;
        margin: 1rem 0;
        li {
          border-radius: 0.2rem;
          &:hover {
            background-color: #353535;
          }
        }
      }
    }
  }

  .todos-area {
    height: 100vh;
    width: 100%;
    padding: 30px;
    padding-top: 75px;
    background-color: #1f1f1f;

    #project-header {
      height: 48px;
      font-weight: bold;
      text-transform: capitalize;

      display: grid;

      i {
        cursor: pointer;
      }
    }

    .edit {
      display: none;
    }

    .show-edit {
      display: grid;
      align-content: end;
      .base {
        display: none;
      }
      .edit {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto 120px;
        input {
          margin-bottom: 0;
          height: 36px;
          font-size: 1.5rem;
        }
      }
    }

    .divider {
      margin-top: 8px;
    }
  }
}

@media only screen and (min-width: 980px) {
  main {
    .max-width {
      padding-left: 300px;
    }
  }
}
